*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.colour{
    color: rgb(11, 188, 2);
}

.img-home{
    height: 100%;
    width: auto;
    opacity: 0;
    transform: translateX(80px);
    animation: slideMove 2s forwards;
}   
@keyframes slideMove {
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.front{
    height: 540px;
    width: 100wh;
    background-color: transparent;
    display: flex;
}

.front-one{
    /* background-color: rgb(227, 119, 236); */
    height: 100%;
    width: 50%;
    padding: 50px;
    padding-top: 180px;
    h1{
        font-size: 50px;
    }
}
.front-two{
    height: 100%;
    width: 50%;
    padding: 30px;
}
.shop-btn{
    height: 30px;
    width: 150px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 30px;
    border: 1px solid rgb(11, 188, 2);
}
.shop-btn:hover{
    color: white;
    background-color: rgb(11, 188, 2);
    cursor: pointer;
    box-shadow: 0 0 20px 2px rgb(11, 188, 2);

}