.product{
    height: 320px;
    width: 270px;
    /* box-shadow: 0px 5px 10px 0.1px  ; */
    border: 1px solid rgb(194, 194, 194);
    margin: 20px;
    border-radius: 30px;
    padding: 10px;
}
.product:hover{
    height: 340px;
    width: 290px;
    margin: 10px;
    box-shadow: 0px 10px 20px 2px;
}
.img{
    height: 60%;
    width: 100%;
    /* background-color: rgb(147, 243, 177); */
    background-color: rgb(225, 253, 222);
    border-radius: 30px 30px 0px 0px ;
    text-align: center;
    align-content: center;
}
.product-name{
    margin-top: 7px;
}
.product-p{
    color: rgb(96, 95, 95);
    font-size: smaller;
}
.product-btn{
    height: 30px ;
    width: 130px;
    background-color: rgb(11, 188, 2);
    color: white;
    cursor: pointer;
    border-style: none;
}
.product-btn:hover{
    background-color: white;
    color: rgb(11, 188, 2);
    box-shadow: 0px 0px 10px 2px rgb(11, 188, 2);
}
.product-price{
    color: red;
    margin: 6px;
}
.product-btn-adj{
    width: 100%;
    text-align: center;

}