*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.colour{
    color: rgb(11, 188, 2);
}

img{
    height: 100%;
    width: auto;
}   

    

.nav{
    /* background-color: antiquewhite; */
    width: 100wh;
    height: 50px;
    display: flex;
    box-shadow: 0 0 15px 1px;
}
.logo{
    height: 100%;
    width: 50%;
    padding: 2px;
    padding-left: 120px;

    img{
        height: 100%;
        width: auto;
        
    }
}
.menu{
    display: flex;
    width: 30%;
    height: 100%;
    /* background-color: rgb(249, 148, 15); */
}

.shop{
    height: 100%;
    width: 20%;
    display: flex;
    padding-left: 100px;
    padding-top: 8px;
}

.log{
    height: 30px;
    width: 60px;
    border-radius: 20px;
    margin: 2px;
    color: rgb(11, 188, 2);
    border: 1px solid rgb(11, 188, 2);
    cursor: pointer;
}

.sign{
    height: 30px;
    width: 60px;
    border-radius: 20px;
    margin: 2px;
    color: white;
    background-color: rgb(11, 188, 2);
    border: none;
    cursor: pointer;
   
}

.menu-list{
    width:25% ;
    height: 100%;
    text-align: center;
    align-content: center;
    font-weight: bold;
    cursor: pointer;
    p:hover{
        color: rgb(11, 188, 2);
        border-bottom: 2px solid rgb(11, 188, 2);
        font-size: large;
    }
}

.front{
    height: 540px;
    width: 100wh;
    background-color: transparent;
    display: flex;
}

.front-one{
    /* background-color: rgb(227, 119, 236); */
    height: 100%;
    width: 50%;
    padding: 50px;
    padding-top: 180px;
    h1{
        font-size: 50px;
    }
}
.front-two{
    height: 100%;
    width: 50%;
    padding: 30px;
}
.shop-btn{
    height: 30px;
    width: 150px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 30px;
    border: 1px solid rgb(11, 188, 2);
}
.shop-btn:hover{
    color: white;
    background-color: rgb(11, 188, 2);
    cursor: pointer;
    box-shadow: 0 0 20px 2px rgb(11, 188, 2);

}